.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to bottom,
    #3b679e 0%,
    #2b88d9 40%,
    #2b88d9 43%,
    #207cca 49%,
    #207cca 56%,
    #7db9e8 100%
  );
  width: 700px;
  height: 1000px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
